<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/a11b8c2525.js" crossorigin="anonymous"></script>
    <script src="../static/javascript.js"></script>
    <link rel="shortcut icon" href="../static/img/icone.ico">
    <title>Cadastrar</title>
</head>
<body>
    <header>
        <div class="header_green"> <a href="#">Seja bem vindo de volta <i>nome usuário</i></a> </div>
        <div class="header_black">
            <img src="../static/img/echoTech2.png" id="logo">
            <form>
                <input type="search" id="pesquisa" placeholder="Pesquise aqui">
                <input type="submit" id="btnPesquisa" value="pesquisar">
            </form>

            <div class="icons">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
                <a href="#"><i class="fa-solid fa-bars"></i></a>
    
            </div>
            
        </div>


    </header>
    <main>
        <br><br>
        <div class="regis_box profile_box">
            <div>
                <img src="../static/img/profilePicture.png" id="profilePicture"><br><br><br>
                
                <a href="#">Alterar</a><br>
                <a href="TelaPerfil.html" id="logOut">cancelar</a><br>
            </div>
            <div id="profile_infsBox"> 
                <h1>Seu perfil</h1>
                <div class="profile_infs">
                    <form>
                        <input type="text" required placeholder="Nome" value=""><br><br>
                        <input type="text" required placeholder="Endereço" value=""><br><br>
                        <input type="text" required placeholder="Cpf" value=""><br><br>
                        <input type="text" required placeholder="Cep" value=""><br><br>
                        <input type="text" required placeholder="Telefone" value=""><br>
                    </form>
                    <!--Quando estiver programando o value recebe a variavel do usuario atual-->
                    

                   
                </div>
            </div>
           
        </div>
        <br><br><br>
    </main>
    <footer>
        
    </footer>
</body>
</html>