<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/a11b8c2525.js" crossorigin="anonymous"></script>
    <script src="/javascript.js"></script>
    <link rel="shortcut icon" href="/img/icone.ico">
    <title>Perfil</title>
</head>
<body>
    <header>
        <div class="header_green"> <a href="/ecotech/cliente/perfil">Perfil</a> </div>
        <div class="header_black">
            <img src="/echoTech2.png" id="logo">
            <form>
                <input type="search" id="pesquisa" placeholder="Pesquise aqui">
                <input type="submit" id="btnPesquisa" value="pesquisar">
            </form>

            <div class="icons">
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
                
                <div class="dropdown">
                    <a  class="dropdown-button"><i class="fa-solid fa-bars"></i></a>
                    <div class="dropdown-content">
                        <a href="#">Smartphones</a>
                        <a href="#">Notebooks</a>
                        <a href="#">Smartwatches e Buds</a>
                        <a href="#">Tablets</a>
                        <a href="#">Acessórios</a>
                        <a href="#">TV e AV</a>
                        <a href="#">Eletrodomésticos</a>
                        <a href="#">Monitores</a>
                        <a href="#">Ar-condicionádos</a>
                    </div>
                </div>
    
            </div>
            
        </div>


    </header>
    <main>
        <br><br>
        <div class="regis_box profile_box">
            <div>
                
                
                <a href="#">Excluir</a><br>
                <a href="EditarPerfil.html" id="logOut">cancelar</a><br>
              
            </div>
            <div id="profile_infsBox"> 
                <h1>Deseja Excluir seu perfil?</h1>
                <div class="profile_infs">
                    <form>
                        <input type="text" required placeholder="para excluir sua conta digite sua senha*" value=""><br><br>
                        <textarea class="bordasSuaves" placeholder="Conte-nos o Motivo" style="width: 300%; padding: 5%;" rows="10"></textarea>
                        
                        <p>
                            <input type="checkbox" name="checkbox" />
                            Realmente desejo excluir minha conta*
                        </p>
                        
                    
                   
                        
                    </form>
                  
                    <!--Quando estiver programando o value recebe a variavel do usuario atual-->
                    
                    
                   
                </div>
                
            </div>
            
        </div>
       
        <br><br><br>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Produtos</h3>
                <ul>
                    <li><a href="#">Smartphones</a></li>
                    <li><a href="#">Notebooks</a></li>
                    <li><a href="#">Smartwatches e Buds</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Acessórios</a></li>
                    <li><a href="#">TV e AV</a></li>
                    <li><a href="#">Eletrodomésticos</a></li>
                    <li><a href="#">Monitores</a></li>
                    <li><a href="#">Ar-condicionados</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Suporte</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Redes Sociais</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Formas de Pagamento</h3>
                <ul class="payment-icons">
                    <img src="/mastercard.png" alt="Visa">
                    <img src="/visa.png" alt="MasterCard">
                    <img src="/pix.png" alt="MasterCard">
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="footer-left">
                <p style="font-size: larger;">Brasil</p>
            </div>
            <div class="footer-links">
                <a href="#">Política de Privacidade</a>
                <a href="#">Termos de Uso</a>
            </div>               
        </div>
        </div>
    </footer>
</body>
</html>