<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/a11b8c2525.js" crossorigin="anonymous"></script>


</head>
    <header>
    <div class="header_green"> <a th:href="@{/ecotech/cliente/index}">Home</a> </div>
    </header>
<body>
    
    <div class="pagamento">
        Pagamento
    </div>
    <hr> <!-- Linha horizontal --> 
    <br> <br> 
    <img class="pag_img" src="/img/pix.png" >
    <hr> <!-- Linha horizontal --> 
    <div class="faq-details"> </div>
    <div class="pix">
        Pix
    </div>
    <br> <br>
    <img class="pag_img" src="/img/cartao.jpg"  >
    <hr> <!-- Linha horizontal --> 
    <div class="debito">
        Cartão de Débito
    </div>
    <br> <br>
    <img  class="pag_img" src="/img/cartao.jpg"  >
    <hr> <!-- Linha horizontal --> 
    <div class="credito">
        Cartão de Crédito
    </div>
    <br> <br>
    <img  class="pag_img" src="/img/boleto.jpeg"  >
    <hr> <!-- Linha horizontal --> 
    <div class="boleto">
        Boleto Bancário
    </div>
</div>
<br><br><br><br>
<div style="text-align: center; margin:0 auto"><a th:href="@{/ecotech/cliente/finalizar}" class="buttonColored" >Finalizar Compra</a></div>
  
</body>

</html>
