body{margin: 0; padding: 0; border: 0}
.header_green{background-color: #82AE64; padding: 1%; text-align: end;}
.header_green a{margin-right: 10px; color:white; text-decoration: none;}
.header_green a:hover{color:aquamarine; text-decoration: underline;}

/*Parte do header preto*/
.header_black{
    background-color: #000000; 
    padding: 1%; 
    color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_black .icons{width: 10%; margin: 0 0; text-align: end;}
.header_black .icons a{font-size: 170%; padding: 4%; color: aliceblue;}
.header_black .icons a:hover{font-size: 170%; padding: 4%; color:#92B560;}

#logo{width: 7%;}
.header_black form{width: 50%; margin: 0 auto; text-align: center; margin: 0;}

#pesquisa{
    
    padding: 2%; 
    width: 70%; 
   
    border: 0;
    margin: 0;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;

    border-radius: 11px 0 0 11px;
    border:none; 
}


#btnPesquisa{
    width: 20%; 
    margin: -4px; 
    border: 0;
    font-size: 100%;  
    
    padding: 1.85%; 
    
    
    border:none; 
    
    background-color: #92B560; 
    color:aliceblue;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0 11px 11px 0;

    

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #5bd553 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5bd553;
    border-radius: 5px;
    border: 4px none #ffffff;
  }


h2{text-align: center; cursor:default}




.dropdown-content {
    position: absolute;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    right: 0;
    background-color: #2e3639;
    border-radius: 5px;
    font-size: 12px;
}





   /* Estilo para o menu suspenso */
   .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(22, 21, 21, 0.8); /* Cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Efeito de vidro fosco */
    border-radius: 10px;
    padding: 100%;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -10%; /* Alteração para alinhar o menu à direita */
  

    font-size: 80%;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para os itens do menu */
.dropdown-content a {

    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Estilo para os itens do menu */
.dropdown-content a {
    
    border-color: #2e3639;
    width: 95%;
    padding: 12px 16px;
    text-align: left;
   
}

.dropdown-content a:focus {
    text-decoration: underline;
}


/*rodape*/
footer {
    background-color: #000;
    color: #fff;
    padding: 15px 0px;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-products, .footer-values {
    flex: 1;
    margin-right: 20px;
}

.footer-products h3, .footer-values h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons, .payment-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li, .payment-icons li {
    margin-right: 10px;
}

.social-icons a, .payment-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.payment-icons img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

/*rodape inferior*/
hr {
    border: 1px solid #fff;
    margin-top: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.footer-left {
    margin-left: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 300px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/*fim do rodape*/





.inicio_fileira{
    
    align-items: center;
    width: 90%;
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 3%;
    padding-top: 0;
    gap: 1%
}
.inicio_fileira a{color: #000;padding: 1%; font-size: 200%; margin-left: 4%; transition: color 0.5s, background-color 0.2s, border-radius 0.5s, padding 0.5s;}
.inicio_fileira a:hover{color: #ffffff; background-color: #2e2e2e;  border-radius: 20px; padding: 1%;}

.inicio_itenContent{
 

    background-color: #fff;
    
    border: solid  3px rgb(192, 192, 192);
    border-radius: 10px;
    padding: 1%;

    width: 15%;
    transition: width 0.5s, font-size 0.5s;
}
.inicio_itenContent img{background-color: #000; width: 100%; border-radius: 5px;}
.inicio_itenContent p{color:#82AE64; margin: 2%;}
.inicio_itenContent h3{margin: 2%;}


.inicio_itenContent .comprar{
    background-color: #82AE64;
    color:aliceblue; 
    padding: 4%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 120%;
    transition: background-color 0.3s, color 0.3s;;
}

.inicio_itenContent:hover {width: 17%; font-size: 120%;}
.inicio_itenContent .comprar:hover{background-color: #717171; padding: 4%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 120%;}




.regis_box{
    font-size: 120%;

     background-color: rgb(255, 255, 255);
     border-radius: 20px;
     width: 50%; 
     padding: 1%; 
     border:solid rgb(121, 122, 122);

     margin-top: 100%;
     margin: 0 auto; /* Define as margens automáticas horizontalmente */
     text-align: center; /* Opcional: centraliza o conteúdo dentro da div */

}
.bordasSuaves{border-radius: 20px; padding: 2%; width: 40%; margin-bottom: 1%; border:solid rgb(82, 82, 82); cursor: pointer; transition: background-color 0.3s, color 0.3s;}
.bordasSuaves:hover{border:solid #82AE64}


.buttonColored{
    border-radius: 20px; 
    padding: 2%; 
    width: 40%; 
    margin-bottom: 1%; 
    border:none; 
    font-size: 120%;
    background-color: #92B560; 
    color:aliceblue;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.buttonColored:hover{ background-color: #80837d; }

.regis_infs{margin: 0 auto; text-align: center; display: flex; flex-direction: row; gap: 3%; justify-content: space-around; width: 50%;}
.regis_infs i{ font-size: 130%;}
.regis_icon p{width: 80%; margin: 0 auto;}

.regis_icon{transition: background-color 0.3s, color 0.3s, padding 0.3s, font-size 0.4s; }
.regis_icon:hover{background-color: #82AE64; color:aliceblue;  padding: 1%; font-size: 110%; border-radius: 11px; cursor:default}











/*Tela do perfil do cliente*/
#profilePicture{width: 80%; border-radius: 100%;}
.profile_box{display: flex; flex-direction: row; align-items: center; width: 70%;}
.profile_box a{
    display: block;
    border-radius: 15px; 
    padding: 5%; 
    width: 100%; 
     
    border:none; 
    font-size: 100%;
    background-color: #92B560; 
    color:aliceblue;

    text-decoration: none;
    margin-bottom: 1%;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
#logOut{background-color: rgb(163, 163, 163);}

.profile_box a:hover{
    font-size: 120%;
    text-decoration: underline;
}

.profile_infs{width: 40%; margin: 5%;}
.profile_box div{width: 30%; padding: 2%;}
#profile_infsBox{width: 50%; border-left: solid rgb(82, 82, 82); margin-left: 4%;}

.profile_box p{
    margin-bottom: 10px; 
    border-radius: 10px; 
    padding: 5%; 
    width: 300%; 
    background-color: rgb(236, 236, 236);}

.profile_box input{border-radius: 10px; padding: 7%; width: 300%; margin-bottom: 1%; border:solid rgb(82, 82, 82); cursor: pointer; transition: background-color 0.3s, color 0.3s;}
.profile_box input[type="submit"]{border-radius: 15px; padding: 7%; width: 90%; margin-bottom: 1%; border:none rgb(82, 82, 82); cursor: pointer; transition: background-color 0.3s, color 0.3s;}

.profile_box h1{
    margin-top: 0%;  
   
}








/*Slideshow da tela inicial*/

/* Slideshow container */
.slideshow-container {
    width: 100%; /* Largura horizontal de 100% */
    position: relative;
    margin: auto;
    height: 10%; /* Altura vertical em x% */
    overflow: hidden; /* Para esconder qualquer parte da imagem que exceda a altura definida */
  }
  
  .slideshow-container img {
    width: 100%;
    height: 300px;
    object-fit:cover; /* A imagem será redimensionada e cortada para preencher o contêiner */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  } 
  
  @keyframes fade {
    from {opacity: 0.9}
    to {opacity: 1}
  }


.visu_Icon{color:#bbb; width: 100%; font-size: 150%; margin: 2%; transition: color 0.2s;}
.visu_Icon:hover{color:#82AE64}


/*__ Login __*/
.login-box {
    font-size: 120%;

    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 50%; 
    padding: 1%; 
    border:solid rgb(121, 122, 122);

    margin-top: 100%;
    margin: 0 auto; /* Define as margens automáticas horizontalmente */
    text-align: center; /* Opcional: centraliza o conteúdo dentro da div */
}

.login-box h2 {
    margin-top: 0;
}


.login-box button {
    margin: 0 auto;
    background-color: #161616; /* Cor de fundo do botão */
    color: #fff;
    left: 48%;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}


.loginForm input {
    border-radius: 10px; padding: 1%; width: 40% ; margin-bottom: 1%; border:solid rgb(82, 82, 82); cursor: pointer; transition: background-color 0.3s, color 0.3s;


}

.loginForm input:focus {
    border-color: #82AE64;
    box-shadow: 0 0 5px rgba(130, 174, 100, 0.5);
}

.senha{
    border-radius: 10px; padding: 1%; width: 40% ; margin-bottom: 5%; border:solid rgb(82, 82, 82); cursor: pointer; transition: background-color 0.3s, color 0.3s;
}

.continue-senha-hover:hover{
    background-color:#313131;
}

.esqueci-senha{
    font-size: 15px;
    text-align: center;
    padding-left: -9%;
    color: rgb(172, 172, 172);
}

.esqueci-senha:hover{
    color: #161616;
    
}

.password-input .toggle-password:hover {
    color: #82AE64;
    border-radius: 5px;
    
}

.login_button:hover {
    background-color:#313131;
}




/*____Tela de pesquisa______*/


.filter-box {
    width: 20%; /* Largura da caixa de filtro */
    padding: 20px;
    border: 1px solid #949494;
    text-align: left;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 19%;
    padding-bottom: 5%;
    border-radius: 5%;
    margin-right: 2.5%;
}
    
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.marcaFilter {
    border-radius: 3%;
}


.searchProduct-list {
        
        padding-left: 10%;
        justify-content: center;
        gap: 200px;
}

.search_itenContent {
        background-color: #fff;
        border: solid 3px rgb(192, 192, 192);
        border-radius: 10px;
        padding: 1%;
        display: flex;
        align-items: center;
        width: 60%;
        height: 150px;
        transition: width 0.5s, height 0.5s, font-size 0.5s;
}


.search_itenContent img{background-color: #000; width: 25%; height: 130px; border-radius: 5px;}

.search_itenContent p {
    color: #82AE64;
    margin: 2%;
    flex-grow: 1;
}

.search_itenContent h3{margin: 2%;}

.search_itenContent:hover {width: 65%; height: 170px; font-size: 120%;}
.view-button {
    background-color: #82AE64;
    color: #fff;
    text-decoration: none;
    height: 20px;
    padding: 8px 10px;
    border-radius: 5px;
    margin-left: auto; /* Move o botão para a direita */
    display: inline-block;
    transition: background-color 0.3s;
}

.view-button:hover {
    background-color: #4C7E47;
}





/*Se for um dispositivo mobile*/
@media(max-width: 600px){
    .header_black #logo{display: none;}

    .header_black form{width: 100%; justify-content: center; margin-top: 5%;}
    .header_black{flex-wrap: nowrap;}
    .header_black .icons{width: 10%; text-align: center; margin-top: 5%; margin-bottom: 4%;}
    .header_black .icons a{margin: 0;}


    .bordasSuaves{border-radius: 20px; padding: 3%; width: 90%; margin-bottom: 1%; border:solid rgb(82, 82, 82); cursor: pointer; transition: background-color 0.3s, color 0.3s;}
    .regis_box{
        font-size: 120%;
    
         background-color: rgb(255, 255, 255);
         border-radius: 20px;
         width: 90%; 
         padding: 1%; 
         border:solid rgb(121, 122, 122);
    
         margin-top: 100%;
         margin: 0 auto; /* Define as margens automáticas horizontalmente */
         text-align: center; /* Opcional: centraliza o conteúdo dentro da div */
    
    }
    .regis_infs{margin: 0 auto; text-align: center; display: flex; flex-direction:row; gap: 5%; justify-content: space-around; width: 50%; flex-wrap: wrap;}
    .regis_infs i{ font-size: 100%; padding-top: 10%;}
    h2{margin: 10% 10% ;}



    .profile_box{display: flex; flex-direction: column; align-items: center; width: 70%;}
    #profile_infsBox{width: 100%; border-left: none; margin-left:0}
    .profile_box p{
        margin-bottom: 10px; 
        border-radius: 10px; 
        padding: 5%; 
        width: 270%; 
        background-color: rgb(236, 236, 236);}
    #profile_infsBox h1{display: none;}
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font-family: 'Lato', sans-serif;
}



body > main {
  background: #fff;
  padding: 0 30px 30px;
}

body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}

body > main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > main .content section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body > main .content aside {
  min-width: 250px;
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 3px solid #eee;
}

table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}

table tbody tr {
  border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product img {
  border-radius: 6px;
}

.product .info {
  margin-left: 20px;
}

.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product .info .category {
  color: #666;
}

.qty {
  background: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}

.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.remove:hover {
  background: #ddd;
}

aside {
  margin-left: 30px;
}

aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
}

aside .box .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

aside .box .info > div:last-child {
  margin: 0;
}

aside .box .info button {
  color: #82AE64;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

aside .box .info button:hover {
  color:#3f9d00;
}

aside .box footer {
  border-radius: 5px;
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside > button {
  border-radius: 5px;
  border: 0;
  padding: 15px 0;
  color: white;
  background: #82AE64;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside > button:hover {
  background: #73b646;
}
/*# sourceMappingURL=styles.css.map */
