body{margin: 0; padding: 0; border: 0}
header{background-color: #82AE64; padding: 1%; text-align: end;}
header a{margin-right: 10px; color:white; text-decoration: none;}
header a:hover{color:aquamarine; text-decoration: underline;}

h2{text-align: center; cursor:default}

.regis_box{
    font-size: 120%;

     background-color: rgb(255, 255, 255);
     border-radius: 11px;
     width: 50%; 
     padding: 1%; 
     border:solid rgb(121, 122, 122);

     margin-top: 100%;
     margin: 0 auto; /* Define as margens automáticas horizontalmente */
     text-align: center; /* Opcional: centraliza o conteúdo dentro da div */

}
.bordasSuaves{border-radius: 11px; padding: 2%; width: 40%; margin-bottom: 1%; border:solid rgb(82, 82, 82); cursor: pointer; transition: background-color 0.3s, color 0.3s;}
.bordasSuaves:hover{border:solid #82AE64}


.buttonColored{
    border-radius: 11px; 
    padding: 2%; 
    width: 40%; 
    margin-bottom: 1%; 
    border:none; 
    font-size: 120%;
    background-color: #92B560; 
    color:aliceblue;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.buttonColored:hover{font-size: 140%; padding: 2.5%;}

.regis_infs{margin: 0 auto; text-align: center; display: flex; flex-direction: row; gap: 3%; justify-content: space-around; width: 50%;}
.regis_infs i{ font-size: 130%;}
.regis_icon p{width: 80%; margin: 0 auto;}

.regis_icon{transition: background-color 0.3s, color 0.3s;}
.regis_icon:hover{background-color: #82AE64; color:aliceblue;  padding: 1%; font-size: 110%; border-radius: 11px; cursor:default}
