

html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
}


.titulo {
	color: rgb(112, 204, 72);
	text-align: center;
}

.subtitulo {
	color: #000000;
	font-family: 'Newsanse Heavy';
	font-size: 30px;
	margin-left: 10%;

}

.texto1 {
	color: #000000;
	font-family: 'Newsanse Heavy';
	font-size: 18px;
	margin-left: 10%;


}


.logo-eco {
	width: 300px;
	margin-left: auto;
	margin-right: 190px;
	margin-top: 40px;
}

#banner {

	width: 100%;
	text-align: center;
	height: 1000px;

	margin: 0 auto;
}

#banner img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 1000px;
	z-index: -1;
	/* Coloca a imagem atrás do texto */
}

#bannerTexts {
	padding: 10%;
}

#banner h1,
#banner h3 {
	position: relative;
	color: white;
	/* Ajuste a cor do texto conforme necessário */
	text-align: center;
	/* Alinha o texto no centro */
	margin: 0;
	padding: 10px;
	font-size: 1.25em;

}

#banner h1 {
	font-size: 4em;
	font-weight: 1000;
	/* Define o peso da fonte como negrito */
}

#banner h3 {
	font-size: 1.5em;
}

footer {
	background-color: #000;
	color: #fff;
	padding: 15px 0px;
	padding: 1%;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin-left: 450px;
	;
}

.footer-products,
.footer-values {
	flex: 1;
	margin-right: 0%;
}

.footer-products h3,
.footer-values h3 {
	font-size: 30px;
	margin-bottom: 35px;
}

.footer-section {
	flex: 1;
	margin-right: 10px;
}

.footer-section h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 100px;
}

.footer-left {
	margin-left: 14px;
}

.footer-links a {
	color: #fff;
	text-decoration: none;

	margin-left: -215%
}

.footer-links a:hover {
	text-decoration: underline;
}


ul {
	list-style: none;
	padding: 0;
}

ul li {
	margin-bottom: 5px;
}

ul li a {
	color: #fff;
	text-decoration: none;
}

ul li a:hover {
	text-decoration: underline;
}

.social-icons,
.payment-icons {
	list-style: none;
	padding: 0;
	display: flex;
}

.social-icons li,
.payment-icons li {
	margin-right: 10px;
}

.social-icons a,
.payment-icons a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
}

.payment-icons img {
	width: 30px;
	height: auto;
	margin-right: 10px;
}

hr {
	border: 1px solid #fff;
	margin-top: 20px;
}

.black {
	position: sticky;
	top: 0;
	background-color: #000000;
	padding: 1%;
	color: aliceblue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	z-index: 100;
	padding: 2%;
	padding-top: 3%;

}

.nav {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.nav a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 15px;
	font-family: 'Newsanse Heavy';
	transition: color 0.3s, text-decoration 0.3s;
	text-align: right;
}

.nav a:hover {
	color: rgb(112, 204, 72);
	text-decoration: underline;
}

nav {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 15px;
	font-family: 'Newsanse Heavy';
	transition: color 0.3s, text-decoration 0.3s;
	text-align: right;
}

nav a:hover {
	color: rgb(112, 204, 72);
	text-decoration: underline;
}

.logo {
	width: 95px;
	margin-left: 90px;

}


#profilePicture {
	width: 15em;
	height: 15em;
	border-radius: 100%;
}


#profilePictureFade {
	transition: all 0.3s;
}

#profilePictureFade h3 {
	display: none;
	color: rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
}

#profilePictureFade img {
	transition: all 0.3s;
}

#profilePictureFade:hover>img {
	filter: brightness(50%);
}

#profilePictureFade:hover>h3 {
	position: absolute;
	bottom: 50%;
	padding-left: 3%;
	color: white;
	display: block;
}

.profile_box {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70%;
}

.profile_box a {
	display: block;
	border-radius: 15px;
	padding: 5%;
	width: 100%;

	border: none;
	font-size: 100%;
	background-color:rgb(112, 204, 72);
	color: rgb(240, 255, 243);

	text-decoration: none;
	margin-bottom: -2%;

	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

#logOut {
	background-color: rgb(154, 154, 154);
}

#logOut:hover {
	background-color: rgb(120, 120, 120);
}

.profile_box a:hover {
	font-size: 105%;
	text-decoration: underline;
	background-color: rgb(86, 174, 49);
}

.profile_infs {
	width: 40%;
	margin: 5%;
	text-align: left;
	font-weight: bold;
}

.profile_box div {
	width: 30%;
	padding: 2%;
}

#profile_infsBox {
	width: 50%;
	border-left: solid rgb(82, 82, 82);
	margin-left: 4%;
}

.profile_box p {
	text-align: left;
	font-weight: normal;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 5%;
	padding-left: 20%;
	margin-top: 0;
	margin-bottom: 15%;
	width: 300%;
	color: grey;
	background-color: rgb(238, 238, 238);
}


.profile_box .p2 {
	text-align: left;
	font-weight: normal;
	flex-wrap: wrap;
	border-radius: 10px;
	padding: 5%;
	padding-left: 20%;
	margin-top: 0;
	margin-bottom: 15%;
	width: 150%;
	background-color: rgb(238, 238, 238);
}

.profile_box input {
	border-radius: 10px;
	padding: 7%;
	width: 300%;
	margin-bottom: 1%;
	border: solid rgb(82, 82, 82);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.profile_box input[type="submit"] {
	border-radius: 15px;
	padding: 7%;
	width: 90%;
	margin-bottom: 1%;
	border: none rgb(82, 82, 82);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.profile_box h1 {
	margin-top: 0%;

}

.exclude_accont {
	text-align: center;
	position: fixed;
	bottom: 40%;
	left: 30%;
	display: none;
	transition: all 0.4s;
}

.exclude_accont a {
	display: block;
	border-radius: 15px;
	padding: 1%;
	width: 30%;

	border: none;
	font-size: 100%;
	background-color: rgb(112, 204, 72);
	color: aliceblue;

	text-decoration: none;
	margin-left: 34%;

	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}
.exclude_accont a:hover{
	font-size: 110%;
	background-color: #6c757d;
}

.login-box {
	background-color: #fff;
	margin-left: 36%;
	margin-top: -5%;
	margin-bottom: 5%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 40px;
	width: 440px;
	height: 490px;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 10px;
	box-shadow: 0 0 20px rgb(89, 180, 50);

}

.login-box h2 {
	color: #6c757d;
	margin-bottom: 30px;
}

.login-box h4 {
	text-align: left;
	color: #6c757d;
	margin-bottom: 10px;
}

.login-box input[type="email"],
.login-box input[type="password"],
.login-box input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #000;
}

.login-box .password-input {
	position: relative;
}

.login-box .toggle-password {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.login-box .criar-conta {
	display: block;
	margin-top: 10px;
	color: #6c757d;
	text-decoration: none;
}


.login-box input[type="submit"] {
	background-color: #161616;
	color: #fff;
	border: none;
	padding: 15px 40px;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
}


.loginForm input {
	color: #fff;
	border: none;
	padding: 15px 40px;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
}

.loginForm input:focus {
	border-color: rgb(112, 204, 72);
	box-shadow: 0 0 5px rgb(90, 181, 51);
}

.senha {
	color: #fff;
	border: none;
	padding: 15px 40px;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
}

#beneficio-conteiner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

#beneficio-conteiner .blocos {
	border: 2px solid transparent;
	padding: 20px;
	transition: all 0.3s ease;
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 150px;
	margin: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#beneficio-conteiner .blocos:hover {
	border-color: green;
	transform: scale(1.05);
}

.blocos-segundo-grupo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
	margin-top: 20px;
	gap: 50px;
}

.blocos-segundo-grupo .blocos {
	width: 180px;
	height: 140px;
	padding: 15px;
	background-color: #ebfcec;
	border: 2px solid #a3d9a5;
	border-radius: 5px;
	box-shadow: 0px 4px 15px rgba(0, 128, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blocos-segundo-grupo .blocos:hover {
	transform: scale(1.1);
	box-shadow: 0px 8px 20px rgba(0, 128, 0, 0.3);
}

#banner {
	width: 100%;
	text-align: center;
	height: 800px;
	margin: 0 auto;
}

#bannerTexts {
	padding: 5%;
}

.beneficios {
	margin-top: -50px;
}

.historia {
	background: linear-gradient(to bottom,
			rgb(202, 247, 202, 0) 0%,
			rgba(202, 247, 202, 1) 94%,
			rgba(202, 247, 202, 0) 100%);

	padding: 30px;
}



.historia-conteudo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;

}

.imagens {
	display: flex;
	gap: 10px;
}

.imagens img {
	width: 100px;
	height: auto;
	border-radius: 5px;
}

.texto {
	max-width: 600px;
}

.texto h1 {
	font-size: 36px;
	color: #097a22;
	margin-bottom: 20px;

}

.texto p {
	font-size: 18px;
	line-height: 1.6;
	color: #555;
}

.beneficios {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background-color: #e8f8ec;
}


.beneficios h1 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 20px;
	color: #006f06;
}

.beneficios h2 {
	font-size: 2em;
	text-align: left;
	margin-right: 20px;
	flex: 1;
}

.beneficios .bloco {
	text-align: center;
	padding: 20px;
	background-color: #f0faf4;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.beneficios .bloco:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.beneficios .icone {
	font-size: 40px;
	color: #03ba00;
	margin-bottom: 10px;
}

.beneficios h4 {
	font-size: 24px;
	color: #006f06;
	margin-bottom: 10px;
	text-align: center;
}

.beneficios p {
	font-size: 16px;
	color: #555;
	text-align: center;
	margin: 0 auto;
}

.criar-conta {
	font-size: 15px;
	text-align: center;
	padding-left: -9%;
	color: rgb(172, 172, 172);
}

.criar-conta:hover {
	color: #161616;

}

.password-input .toggle-password:hover {
	color: rgb(112, 204, 72);
	border-radius: 5px;

}

.login_button:hover {
	background-color: #313131;
}

.login-title {
	color: #363636 !important;
	font-size: 1.5em;
}

.regis_box {
	font-size: 120%;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	width: 50%;
	padding: 1%;
	border: solid rgb(121, 122, 122);
	margin-top: 100%;
	margin: 0 auto;
	text-align: center;
}

.bordasSuaves {
	border-radius: 20px;
	padding: 2%;
	width: 40%;
	margin-bottom: 1%;
	border: solid rgb(82, 82, 82);
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.bordasSuaves:hover {
	border: solid rgb(112, 204, 72);
}

.faq-container {
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;

}

.contact-button {
	background-color: #7ed957;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

.faq-item {
	margin-bottom: 10px;
}

.faq-item summary {
	background-color: rgb(191, 247, 191);
	color: rgb(0, 117, 9);
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	list-style: none;
	outline: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
}

.faq-item summary::-webkit-details-marker {
	display: none;
}

.faq-item p {
	background-color: rgb(230, 251, 230);
	padding: 15px;
	border-radius: 5px;
	margin-top: 5px;
}

.arrow {
	font-size: 20px;
	color: rgb(0, 117, 9);
	font-weight: bold;
	transition: transform 0.3s ease;
}

.buttonColored {
	border-radius: 20px;
	padding: 2%;
	width: 40%;
	margin-bottom: 1%;
	border: none;
	font-size: 120%;
	background-color: rgb(112, 204, 72);
	color: aliceblue;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.buttonColored:hover {
	background-color: rgb(87, 176, 49);
}

.regis_infs {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 3%;
	justify-content: space-around;
	width: 50%;
}

.regis_infs i {
	font-size: 130%;
}

.regis_icon p {
	width: 80%;
	margin: 0 auto;
}

.regis_icon {
	transition: background-color 0.3s, color 0.3s, padding 0.3s, font-size 0.4s;
}

.regis_icon:hover {
	background-color: rgb(112, 204, 72);
	color: aliceblue;
	padding: 1%;
	font-size: 110%;
	border-radius: 11px;
	cursor: default
}




@media screen and (max-width:1020px) {

	.black nav {
		display: none;
	}

	.logo {
		margin: 10%;
	}

	.logo-eco {
		display: none
	}

	.prev {
		display: none
	}

	.slideshow-container {
		margin-top: 10%;
	}

	.slide-text {
		margin-top: -5%
	}

	.login-box {
		margin-left: 10%;
		width: 60%
	}

	.borda {
		padding: 3%;
		border-radius: 10px;
		margin-bottom: 20px;
		margin-top: 50px;
		margin-left: 70px;
		margin-right: 70px;
		border: 1px solid #000000;
		border-radius: 10px;
		box-shadow: 0 0 20px rgb(89, 180, 50);
	}

	.disabled {
		color: rgb(192, 192, 192)
	}

	.profile_box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 70%;
	}

	#profile_infsBox {
		width: 90%;
		border-left: none;
		margin-left: 0%;
		margin-right: 10%;
	}

	#profilePicture {
		width: 10em;
		height: 10em;
		border-radius: 100%;
		margin-top: 30%;
	}

	.profile_infs {
		width: 40%;
		margin: 5%;
		text-align: left;
		font-weight: bold;
	}

	.profile_box div {
		width: 30%;
		padding: 0%;
	}

	.profile_box a {
		display: block;
		border-radius: 15px;
		padding: 5%;
		width: 100%;

		border: none;
		font-size: 100%;
		background-color:rgb(128, 213, 91);
		color: rgb(240, 255, 243);

		text-decoration: none;
		margin: -5%;

		cursor: pointer;
		transition: background-color 0.3s, color 0.3s, font-size 0.3s;
	}

	.faq-container {
		width: 90%;
		margin: 0 auto;
		background-color: #fff;
		padding: 20px;
		border-radius: 8px;

	}
	
	.profile_box a :hover {
		background-color:rgb(88, 184, 48);
	}
}