    <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/a11b8c2525.js" crossorigin="anonymous"></script>
    <script src="/javascript.js"></script>
    <link rel="shortcut icon" href="/img/icone.ico">
    <title>Login</title>
    <style>
    	.body{
		 font-family: hamburg-serial;

		}
    </style>
</head>
<body>
    <header class="black">
        <!-- Logo -->
        <img src="/img/logo.png" alt="Logo" class="logo">
        <!-- Menu -->
        <nav>
            <a href="/ecotech/user/index">Home</a>
        </nav>
        <br><br>
    </header>

    <main th:each="c : ${problem}">
        <br><br><br><br><br><br>
        
      
        <div class="login-box" >
            <h2 class="login-title">Insira seu E-mail para se cadastrar ou entrar</h2><br>
            <form th:action="@{/ecotech/user/login}" th:object="${usuario}"  method="post" class="loginForm">
                <h4>Insira seu E-mail</h4>
                <input type="email" name="email" id="email" placeholder="E-mail" required th:field="*{email}">
                <br><h4>Insira sua senha</h4>
                <div class="password-input">
                    <input type="password" name="senha" id="senha" placeholder="Senha" required th:field="*{senha}">
                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                    </span>
                   
                    
                </div>

                <br><br> <span th:if="${c}==true" > <span style="color:red;" >Login ou senha errados</span> </span><br><br>
			 
                <input type="submit" value="continuar" class="login_button">
            </form><br><br><br>
        </div>
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Suporte</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Redes Sociais</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-whatsapp" style="font-size:24px"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" style="font-size:24px"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" style="font-size:24px"></i></a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Intranet</h3>
                <ul>
                    <li><a href="#">Acesso funcionário</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="footer-left">
                <p style="font-size: larger;">Brasil</p>
            </div>
            <div class="footer-links">
                <a href="#">Política de Privacidade</a>
                <a href="#">Termos de Uso</a>
            </div>
        </div>
    </footer>
    <script>
        function togglePasswordVisibility() {
            const senhaInput = document.getElementById('senha');
            const toggleButton = document.querySelector('.toggle-password');

            if (senhaInput.type === 'password') {
                senhaInput.type = 'text';
                toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
            } else {
                senhaInput.type = 'password';
                toggleButton.innerHTML = '<i class="fas fa-eye"></i>';
            }
        }
    </script>
</body>
</html>
